@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@font-face {
    font-family: Notera;
    src: url('../fonts/Notera_PersonalUseOnly.ttf');
    font-weight: normal;
    font-style: normal;
}
.container-full {
    margin: 0 auto;
    width: 100%;
}
.header {
    background-color: #f9f9f9;
}
.header::after {
    background: url('../images/header-divider.png');
    height: 4px;
    width: 100%;
}
.header .logo {
    margin: 26px 0 26px 28px;
}
.header nav ul.nav {
    margin: 68px 5px 0 0;
}
.navbar-nav>li>a {
    color: #6f6f6f;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Droid Serif', serif;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #03bdbe;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #03bdbe;
}
ul.nav.logged-in li > a {
    color: #c98510;
}

nav.menu-links {
    margin-left: 50px;
    margin-bottom: 52px;
    border-bottom: 1px solid #dcdcdc;
}
nav.menu-links a {
    padding: 22px 15px;
    display: inline-block;
    color: #000000;
    font-size: 14px;
    font-family: 'Droid Serif', serif;
    text-decoration: none;
}
nav.menu-links a.active, nav.menu-links a:hover {
    color: #c98510;
    text-decoration: none;
}
nav.menu-links a.pull-right {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Droid Sans', sans-serif;
}
nav.menu-links a.pull-right span {
    color: #03bdbe;
    font-size: 20px;
}
.navbar-hidden {
    display: none;
}

.banner {
    position: relative;
}
.banner img {
    display: block;
    width: 100%;
    max-width: 1366px; /* corresponds to max height of 450px */
    margin: 0 auto;
}
.banner-btn {
    position: absolute;
    bottom: -8px;
    right: 120px;
}

/* Modal Dialog */
.modal-dialog {
    top: 150px;
}
.modal-content {
    background-color: #03bdbe;
    opacity: 0.9;
    border-radius: 0;
    width: 570px;
}
.tab-content {
    padding-bottom: 10px;
}
.auth-tabs {
    font-size: 36px;
}
.auth-tabs .nav-tabs {
    border-bottom: 0;
}
.auth-tabs .nav-tabs>li>a,
.auth-tabs .nav-tabs>li>a:focus,
.auth-tabs .nav-tabs>li>a:hover {
    font-family: 'Droid Serif', serif;
    color: #2c2c2c;
    background-color: transparent;
    border: 0;
    margin: 20px 0 0 15px;
}
.auth-tabs .nav-tabs>li.active>a,
.auth-tabs .nav-tabs>li.active>a:focus,
.auth-tabs .nav-tabs>li.active>a:hover {
    color: #ffffff;
    background-color: transparent;
    border: 0;
}
#signin {
    padding: 0;
}
#signin .social h5 {
    font-family: 'PT Serif', serif;
    color: #ffffff;
}

#signin .social .fb {
    width: 176px;
    height: 34px;
    background: url('../images/fb-login.png') no-repeat;
    display: inline-block;
}
#signin .social .google {
    width: 176px;
    height: 34px;
    display: inline-block;
}
#signin .action-btn {
    margin-top: 8px;
}
#signin .controls .forgot-password {
    color: #ffffff;
    font-family: 'PT Serif', serif;
    font-size: 11px;
}
#signin .or {
    background: url('../images/or.png') no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}
#signin .form-control {
    border: 0;
}
/* Modal Dialog | Ends Here */

/* Profile Page | Starts Here */
.panel-info {
    border-color: transparent;
}
.panel-info .user-info {
    margin-top: 10px;
}
.panel-info .user-info a {
    text-decoration: underline;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #000000;
}
.panel-info .user-info p {
    padding: 22px 0;
}
.panel-info .user-info p.unique-id {
    margin-top: 18px;
    border-bottom: 1px solid #dbdbdb;
}
.panel-info .user-info p > span {
    display: block;
    color: #03bdbe;
    font-size: 22px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
.table-user-information > tbody > tr {
    background-color: #f9f9f9;
    border-bottom: 4px solid #ffffff;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}
.table-user-information > tbody > tr:hover {
    background-color: #c9e0e1;
}
.table-user-information > tbody > tr:first-child {
    font-size: 28px;
}
.table-user-information > tbody > tr:first-child > td {
    color: #000000 !important;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.table-user-information > tbody > tr > td:last-child {
    color: #6f6f6f;
}
#gender2 {
    margin-left: 12px;
}
/* Profile Page | Ends Here */

/* Refer friend | Starts Here */
.invite {
    margin-right: 150px;
    background: url("../images/speech-bubble.png") no-repeat;
    width: 410px;
    height: 450px;
}
.border-bottom::after {
    display: block;
    height: 4px;
    width: 100%;
    background: url('../images/header-divider.png');
}
.invite form {
    padding: 80px 66px 0 74px;
}
.invite form label {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: normal;
}
.user-picture {
    top: 250px;
    right: 440px;
    position: absolute;
}
.user-terms {
    margin-bottom: 58px;
    padding-right: 68px;
}
.user-terms a {
    color: #03bdbe;
    text-decoration: underline;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
}
/* Refer friend | Ends Here */

/* Results and Rewards | Start Here */
.nav-tabs {
    border-bottom: 0;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 190px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    border-radius: 0;
    background-color: #f9f9f9;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border: 0;
    border-left: 1px solid #03bdbe;
}
table.results {

}
table.results thead > tr {
    background-color: #03bdbe;
    color: #ffffff;
}
table.results thead > tr > th {
    border-bottom: 2px solid #ffffff;
}
table.results tbody > tr > td:last-child {
    cursor: pointer;
    background: url("../images/social-share.png") no-repeat;
}
table.results tbody > tr > td:last-child:hover {

}
/* Results and Rewards | Ends Here */

/* Homepage Testimonials | Starts Here */
.testimonial {
    margin: 30px 110px;
}
.testimonial .item {
    padding: 30px 0;
}
.testimonial .caption {
    color: #393939;
    font-size: 18px;
}
.fa-quote-left, .fa-quote-right {
    color: #03bdbe;
}
/* Homepage Testimonials | Ends Here */

/* Groups and Course | Starts here */
.subscribe-group {
    background-color: #03bdbe;
    margin-bottom: 20px;
    padding-bottom: 32px;
}
.subscribe-group .add-group h1 {
    font-family: Notera;
    font-size: 72px;
    color: #079697;
    margin-top: 0;
    margin-bottom: -10px;
}
.subscribe-group .add-group label {
    color: #ffffff;
    margin-right: 64px;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
}
.subscribe-group .add-group .control-group, .course-block .add-course .control-group {
    margin-bottom: 4px;
}
.subscribe-group .groups .left-border {
    border-left: 1px solid #dbdbdb;
}
.subscribe-group .groups h2, .course-block .groups h2 {
    font-family: 'PT Serif', serif;
    font-size: 22px;
    color: #ffffff;
    margin-top: 54px;
}
.subscribe-group .groups .group-list > div, .course-block .groups .group-list > div {
    background-color: #ffffff;
    padding: 10px 12px;
    margin-bottom: 4px;
}

.course-block {
    background-color: #d2d2d2;
    margin-bottom: 60px;
    padding-bottom: 32px;
}
.course-block .add-course h1 {
    font-family: Notera;
    font-size: 72px;
    color: #2c2c2c;
    margin-top: 0;
    margin-bottom: 0px;
}
.course-block .add-course h1 > span {
    color: #000000;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
}
.course-block .groups .left-border {
    border-left: 1px solid #ffffff;
}
/* Groups and Course | Ends Here */

/* Exam Page | Starts Here */
.select-exam .exam-list {
    border: 1px solid #b5b5b5;
    background-color: #d2d2d2;
}
.select-exam .exam-head {
    z-index: 1;
}
.select-exam .exam-head > span {
    border: 1px solid #b5b5b5;
    border-bottom: 0;
    background-color: #d2d2d2;
    padding: 8px 12px;
    display: block;
}
.select-exam .exam-list {
    margin-top: -1px;
    padding: 20px;
    display: none;
}
.select-exam .exam-list .practice-test,
.select-exam .exam-list .exam-test {
    display: none;
}
.select-exam .exam-list .practice-test > span,
.select-exam .exam-list .exam-test > span {
    padding: 8px 18px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #ebebeb;
    color: #6d6d6d;
    display: inline-block;
    margin: 0 3px 8px 0;
    cursor: pointer;
}
.select-exam .exam-list .practice-test > span.given,
.select-exam .exam-list .exam-test > span.given {
    background-color: #b5b5b5;
}
.select-exam .exam-list .practice-test > span.selected,
.select-exam .exam-list .exam-test > span.selected {
    background-color: #03bdbe;
    color: #ffffff;
}
.select-exam .exam-list .info {
    margin-top: 20px;
}
.select-exam .exam-list .info > span {
    position: relative;
    margin-right: 40px;
}
.select-exam .exam-list .info > span > a {
    padding-left: 28px;
    color: #6d6d6d;
    cursor: text;
    text-decoration: none;
}
.select-exam .exam-list .info > span::before {
    content: ' ';
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #ebebeb;
}
.select-exam .exam-list .info > span.given::before {
    background-color: #b5b5b5;
}
.select-exam .exam-list .info > span.chosen::before {
    background-color: #03bdbe;
}
.start-exam, .select-exam {
    margin-bottom: 150px;
}
.start-exam .tabs-left > .nav-tabs > li > a {
    background-color: transparent;
}
.start-exam .tabs-left > .nav-tabs {
    border: 0;
}
.start-exam .nav-tabs>li>a {
    border: 0;
    color: #b5b5b5;
    border-bottom: 1px solid #ebebeb;
}
.start-exam .tabs-left > .nav-tabs .active > a,
.start-exam .tabs-left > .nav-tabs .active > a:hover,
.start-exam .tabs-left > .nav-tabs .active > a:focus {
    border: 0;
    color: #03bdbe;
    border-bottom: 1px solid #ebebeb;
}
.question {
    border-left: 1px solid #a5a5a4;
    border-right: 1px solid #a5a5a4;
}
.question h1 {
    margin-top: 0;
    font-size: 54px;
    font-family: 'PT Serif', serif;
    color: #e2e2e2;
}
.question p {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: #000000;
}
.question .options {
    margin-top: 18px;
    margin-bottom: 12px;
    background-color: #d1e6e6;
    padding: 24px 24px 40px 24px;
    color: #000000;
}
.question .options input[type=radio] {
    margin-right: 10px;
}
.col-md-offset-1-custom {
    margin-left: 5.33%;
}
.question-number {

}
.question-number span {
    background-color: #ebebeb;
    padding: 5px 9px;
    height: 26px;
    width: 26px;
    margin: 0 -2px 2px 0;
    display: inline-block;
}
.question-number span.completed {
    background-color: #598f3b;
}
.question-number span > a {
    color: #000000;
}
.question .pager {
    margin-top: 40px;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    padding: 10px 0;
}
.question .pager > a {
    font-size: 18px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #03bdbe;
    margin: 0 25px;
}
.question .pager > a.later {
    color: #c98510;
}
.select-exam input[type=radio] {
    margin-right: 10px;
}
/* Exam Page | Ends Here */

/* Footer | Starts Here */
footer {
    background-color: #03bdbe;
    margin-top: 112px;
}
footer::before {
    height: 4px;
    width: 100%;
    background: url('../images/footer-divider.jpg');
}
.footer {
    text-align: center;
    padding: 15px 0;
}
.footer a {
    text-transform: uppercase;
    color: #f9f9f9;
    margin: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
}
.footer a:hover {
    color: #ffffff;
    text-decoration: none;
}
/* Footer | Ends Here */

/* Override Bootstrap */
.center-block {
    float: none;
}
label {
    font-family: 'PT Serif', serif;
}
.form-control {
    font-size: 16px;
    border-radius: 0;
    color: #6f6f6f;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 4px 0 0;
}
.btn {
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #000000;
    padding: 4px 12px 2px 12px;
    font-size: 16px;
    font-family: 'PT Serif', serif;
}
.bootstrap-select {
    background-color: #ebebeb;
    border: 1px solid #d2d2d2;
}
.bootstrap-select .btn {
    padding: 6px 12px;
}
.bootstrap-select .btn-default {
    background-color: #ebebeb;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    margin-top: -9px !important;
    background-image: url("../images/dropdown-arrow.png");
    border: 0;
    width: 20px;
    height: 20px;
}
.navbar-toggle {
    margin-top: 28px;
    margin-right: 20px;
}
/* Override Bootstrap | Ends Here */

/* Buttons */
.btn-black {
    background-color: #2c2c2c;
    color: #ffffff;
}
.btn-black:hover, .btn-black:active {
    color: #f5f5f5 !important;
}
.btn-blue {
    background-color: #03bdbe;
    border-bottom: 4px solid #00a4a5;
    color: #ffffff;
}
.btn-green {
    background-color: #598f3b;
    border-bottom: 4px solid #3f6d26;
    color: #ffffff;
}
/* Buttons | Ends here */

/* Responsive | Starts Here */
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .header nav ul.nav {
        margin: 10px 5px 0 0;
        text-align: center;
    }
    .navbar-hidden {
        display: block;
    }

    .footer a {
        display: block;
    }

    .modal-content {
        width: auto;
    }
    .auth-tabs {
        font-size: 28px;
    }

    nav.menu-links a {
        display: none;
    }
    .invite {
        margin-right: -15px;
    }
}
/* Responsive | Ends Here */

/* tab_exam-view | Starts Here */
.exam-page .nav-tabs{
	padding: 0px 10px;
}
.exam-page .nav-tabs>li{
	margin-bottom: 0px;
}
.exam-page .tab-content{
	border-top: 1px solid #ddd;
}
.exam-page .nav-tabs .active a{
	 background-color: #e7e7e7
}
.exam-page .blue-button{
	margin: 0px 10px;  
}
.exam-page    h4{
	border-bottom: 2px solid #03bdbe;
	float:left;
}
 .exam-page  .list-box{
	border-bottom: 1px solid #ddd;   
	min-height:300px;
 }
  .exam-page  .border-right{
	border-right: 1px solid #ddd;   
	
 }
.text-app {
    color: #03bdbe;
    padding-top: 10px;
   
}
/* tab_exam-view | Ends Here */